<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar usuario</title>
</head>
<body>
    <h1>
        adicionar usuario
    </h1>
    <form method="post" action="/users/save">
        <input placeholder="digite um nome" name="name" type="text">
        <input type="text" name="age" placeholder="digite sua idade">

        <input type="submit" value="cadastrar">
    </form>
</body>
</html>